body {
	background-color: #0BE8F7;	<!-- sky blue -->
}

#Layer1 {
	position:absolute;
	width:159px;
	height:520px;
	z-index:1;
	top: 79px;
	left: 11px;
	border-right: thick solid black;
}

#Layer2 {
	position: absolute;
	width: 543px;
	height: 442px;
	z-index: 2;
	left: 171px;
	top: 79px;
}

#Layer3 {
	position:absolute;
	width:704px;
	height:73px;
	z-index:3;
	left: 10px;
	top: 5px;
	border-bottom: thick solid black;
}

#Layer4 {
	position: absolute;
	width: 325px;
	height: 286px;
	z-index: 4;
	left: 0px;
	top: 100px;
}

#Layer5 {
	position: absolute;
	width: 217px;
	height: 266px;
	z-index: 4;
	left: 328px;
	top: 100px;
}
